.divTable{
	display: table;
	width: 100%;
	border: 1px solid #999999;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	font-size: 10px;
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	vertical-align: middle;
}
.divTableHeading {
	font-size: 12px;
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
	font-size: 12px;
}
.divTableBody {
	display: table-row-group;
}