@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body {
	height: 100%;
	width: 100%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

#everything {
	width: 100%;
	height: 100%;	
}

#header {
	float: left;
	background-color: lightblue;
	width: 100%;
	height: 32px;
}

#content {
	float: left;
	height: -moz-calc(100% - 32px);
    height: -webkit-calc(100% - 32px);
    height: calc(100% - 32px);
    width: 100%;
    background-color: black;
}

#menu {
	height: 100%;
	width: 20%;
	background-color: lightblue;
	position: relative;
	display: none;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightblue;
}

#menu li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #000000;
    color: #ffffff;
}