@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.boxed{
    width: 900px !important;
    margin: 0px auto;
}

#header {        
    width: 100% !important;
    height: 100px !important;
    border:5px solid red; 
    padding: 15px;
    background: none !important;
}

#footer{    
    width: 100%;
    height: 350px;
    border:5px solid blue; 
    padding: 15px;  
}

#content {    
    width: 100%;
    border: 5px solid green;
    display: table;
    padding: 15px;
    float: none !important;
}

#content > #leftColumn{
    border:5px solid black;  
    padding: 15px; 
    display: table-cell;
    width: 35%;
    height: auto !important;       

}

#content > #rightColumn{
    border:5px solid maroon;  
    padding: 15px; 
    display: table-cell;
    width: 65%;   
    height: auto !important;
}

#menu { 
    background-color: lightblue;
    position: relative;    
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightblue;
}

#menu li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #000000;
    color: #ffffff;
}

.login-form{
    width: 350px;
    margin: 0px auto;
    border: 1px solid #cccccc;
    padding: 5px;
}

.form-error, 
.error,
.form-group.hasErrors .error ,
span[id$='.errors'] 
{
    color: red;    
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
.form-error{
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #cccccc;
}

.btn-submit{
    display: block;
    margin: 0px auto;
}

.footer-box{
    display: table-cell; 
    font-size: 11px; 
    width: 30%;
}

.form-message, form-message.h2{
    color: green;
}