body.nav-md.loginBody,
body.nav-md.loginBody a
{
    color: white;
    text-shadow: none;
}

.guestBody .right_col{
    background: #34495e !important;    
    text-shadow: none !important;
    color: white;
}

.guestBody .right_col a{
    color: white;
}

.guestBody input, 
.guestBody select, 
.guestBody button{
   color: black;
}

.form-error.error{
    color: #E9EDEF;
    background-color: rgba(231, 76, 60, 0.88);
    border-color: rgba(231, 76, 60, 0.88);
    text-align: left;
    margin-top: 2px;
    margin-bottom: 10px;
    display:block;
    padding: 5px;
}

.inline {
    display: inline-block;
}

table.table-centered th, 
table.table-centered td,
table.table-centered tbody td{
    vertical-align: middle;
}

h1,h2,h3,h4,h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
}

.normalTitle{
    border: 0px;
    margin-bottom: 10px;
}
